#ignore all opendss exports in each runs
*.Txt
*.dbl
*.DSV
*.csv
.ipynb_checkpoints/
.idea/

!Network_coordinate.csv
!CURRENTS_REPORT.Txt
!LOSSES_REPORT.Txt
!POWER_REPORT.Txt
!VLN_Node_REPORT.Txt
!VOLTAGES_REPORT.Txt